### Creating shorter Dataset

The original Factor Data includes 406 characteristics, which is a superset of the 153 factors analyzed in Jensen, Kelly, and Pedersen (2021).

To ensure computational efficiency, only the 153 factors analyzed in Jensen, Kelly, and Pedersen (2021) were retained from the data provided.

In addition, the following variables were retained:

- **security identifiers**: "id","date","eom","size_grp","primary_sec","curcd","fx","common","comp_tpci","comp_exchg"

- **industry identifiers** : "sic"

- **Accounting and Market Variables**: "adjfct","shares","me_company","prc_local","dolvol","ret","ret_local","ret_exc","ret_lag_dif","ret_exc_lead1m","enterprise_value","book_equity","assets","sales","net_income","bidask","prc_high","prc_low","tvol"

In [1]:
import pandas as pd

In [18]:
df = pd.read_csv("../Data/ger_factor_data.csv", dtype ={"comp_tpci": str})
df["date"] = pd.to_datetime(df["date"])  #convert to date format
df["eom"] = pd.to_datetime(df["eom"])    #convert to date format
df.head()

,id,date,eom,source,size_grp,obs_main,exch_main,primary_sec,gvkey,iid,...,prc_highprc_252d,rvol_252d,corr_1260d,betabab_1260d,rmax5_rvol_21d,age,qmj,qmj_prof,qmj_growth,qmj_safety
0,comp_001166_02W,1999-07-30,1999-07-31,COMPUSTAT,small,1,1,0,1166,02W,...,NaN,NaN,NaN,NaN,NaN,223,NaN,NaN,NaN,NaN
1,comp_001166_02W,1999-08-31,1999-08-31,COMPUSTAT,small,1,1,0,1166,02W,...,NaN,NaN,NaN,NaN,NaN,224,NaN,NaN,NaN,NaN
2,comp_001166_02W,1999-09-30,1999-09-30,COMPUSTAT,small,1,1,0,1166,02W,...,NaN,NaN,NaN,NaN,NaN,225,NaN,NaN,NaN,NaN
3,comp_001166_02W,1999-10-29,1999-10-31,COMPUSTAT,small,1,1,0,1166,02W,...,NaN,NaN,NaN,NaN,NaN,226,NaN,NaN,NaN,NaN
4,comp_001166_02W,1999-11-30,1999-11-30,COMPUSTAT,small,1,1,0,1166,02W,...,NaN,NaN,NaN,NaN,NaN,227,NaN,NaN,NaN,NaN

In [20]:
df1= df[["id","date","eom","size_grp","primary_sec","curcd","fx","common","comp_tpci","comp_exchg","sic","shares","me_company","prc_local","dolvol","ret","ret_local","ret_exc","ret_lag_dif","ret_exc_lead1m","enterprise_value","book_equity","assets","sales","net_income","bidask","prc_high","prc_low","tvol","niq_su", "ret_6_1", "ret_12_1", "saleq_su", "tax_gr1a", "ni_inc8q","prc_highprc_252d", "resff3_6_1", "resff3_12_1", "be_me","debt_me", "at_me", "ret_60_12", "ni_me", "fcf_me","div12m_me", "eqpo_me", "eqnpo_me", "sale_gr3", "sale_gr1","ebitda_mev","sale_me", "ocf_me", "intrinsic_value", "bev_mev", "netdebt_me", "eq_dur", "capex_abn", "at_gr1", "ppeinv_gr1a", "noa_at", "noa_gr1a","lnoa_gr1a", "capx_gr1", "capx_gr2","capx_gr3","chcsho_12m","eqnpo_12m", "debt_gr3", "inv_gr1","inv_gr1a","oaccruals_at","taccruals_at", "cowc_gr1a","coa_gr1a", "col_gr1a", "nncoa_gr1a","ncoa_gr1a","ncol_gr1a", "nfna_gr1a", "sti_gr1a","lti_gr1a", "fnl_gr1a","be_gr1a", "oaccruals_ni","taccruals_ni", "netis_at", "eqnetis_at", "dbnetis_at", "niq_be", "niq_be_chg1","niq_at", "niq_at_chg1", "ebit_bev","ebit_sale","sale_bev","at_turnover", "gp_at","gp_atl1", "ope_be", "ope_bel1", "op_at", "op_atl1","cop_at","cop_atl1", "f_score","o_score","z_score","pi_nix", "at_be","saleq_gr1","rd_me","rd_sale","opex_at","emp_gr1","rd5_at","age","dsale_dinv","dsale_drec","dgp_dsale","dsale_dsga","sale_emp_gr1","tangibility","kz_index","ocfq_saleq_std","cash_at","ni_ar1","ni_ivol","earnings_variability","aliq_at","aliq_mat","seas_1_1an","seas_1_1na","seas_2_5an","seas_2_5na","seas_6_10an","seas_6_10na","seas_11_15an","seas_11_15na","seas_16_20an","seas_16_20na","market_equity","ivol_ff3_21d","ivol_capm_252d","ivol_capm_21d","ivol_hxz4_21d","rvol_21d","beta_60m","betabab_1260d","beta_dimson_21d","turnover_126d","turnover_var_126d","dolvol_126d","dolvol_var_126d","prc","ami_126d","zero_trades_21d","zero_trades_126d","zero_trades_252d","rmax1_21d","rskew_21d","iskew_capm_21d","iskew_ff3_21d","iskew_hxz4_21d","coskew_21d","ret_1_0","betadown_252d","bidaskhl_21d","ret_3_1","ret_9_1","ret_12_7","corr_1260d","rmax5_21d","rmax5_rvol_21d","ni_be","ocf_at","ocf_at_chg1","mispricing_perf","mispricing_mgmt","qmj","qmj_prof","qmj_growth","qmj_safety"]]

In [22]:
df1.to_csv(r'C:\Users\Besitzer\OneDrive\Masterabeit OneDrive\Data\ger_factor_data_short.csv', index = False)